{% extends "base.html" %}
{% block text %}

<center><h2> About Us </h2></center>

Welcome to dllb! The home for Developers, Leaders, Learners, and Buffoons!<br><br>
<center>
<iframe width="800" height="400" src="http://www.youtube.com/embed/o0FPuxj3NMo">
</iframe>
</center><br><br>

<br>
<hr>
<br>
<center><h3> The Problem </h3></center>
Social Media websites were never designed for group management. Although it is a productive environment to communicate with one another, it fails to keep the group together. <br>
People generally look towards social media but it can be hard for those who are not online. <br>
It has been a recurring issue among several groups to effectively communicte with one another. <br>

<br>
<hr>
<br>
<center><h3> Our Solution </h3></center>
It has always been annoying to contact through social media: having to chat, text, and email several members. <br>
Through dllb, users can coordinate and communicate with group members through the chat system provided. <br>
Members are also offered the ability to send mass texts and emails to other group members to effecitvely communicate with one another. <br>
Users may also privately text and email individuals.<br>
Groups are generally made by one group leader or administrator, whose task is to keep everyone notified. <br>
Group pages also offer a to-do list for the group to recognize what needs to be done for their project. <br>
Anyone in the group can add tasks, which will be regulated by the admin. <br>
Members are kept up to date with tasks and group activities through a Notifications function. <br>
<br>
<hr>
<br>
<center><h3>Meet the Crew </h3></center>

<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c1.101.551.551/s160x160/10649888_10205030170820743_1740977237933120083_n.jpg?oh=5478a66bbd1b29cdb7af51bd89b4febe&oe=555CA46B&__gda__=1432034265_db2d9f6db2dfe6da8db89bea1f6d1e1e" class="pic"><h4><font color="red"> Terrance Liang </font></h4><br><br><br><br><br><br>
<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c1.112.551.551/s160x160/10599361_969311096428089_2146805381744955661_n.jpg?oh=ff8c886095b46657160c46416bf87ff7&oe=555DA5E0&__gda__=1432589858_4e7777652e6fd9fda62453081d448f53" class="pic">
<h4><font color="red"> Eric Liao </font></h4><br><br><br><br><br><br>
<img src="https://scontent-a-iad.xx.fbcdn.net/hprofile-xpa1/v/l/t1.0-1/c0.0.160.160/p160x160/1555434_844589118898570_5356728407515561403_n.jpg?oh=fb267951b84e8322a6edd437f4486e86&oe=5555DFD9" class="pic"><h4><font color="red">Sadman Fahmid  </font></h4><br><br><br><br><br><br>
<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c40.0.160.160/p160x160/10698573_731537706930853_9162581858351035833_n.jpg?oh=3b653cdd83adba2ab761f59930bb0679&oe=5524E28B&__gda__=1431882395_9120f669741172a76e186a5e48486111" class="pic"><h4><font color="red"> Matthew Cook </font></h4><br><br><br><br><br>

<br>
<hr>
<br>
{% if loggedin==False %}
<a class="pure-button" href="/register"> Get Started </a>
{% endif %}

{% endblock %}
