{% extends "base.html" %}

{% block text %}
<center>
	{% if loggedin == True %}
	<font face="License Plate" size=25>Create Group</font>
		<form class="pure-form" method="post">
			<input class="pure-input-1-5" name="gname" type="text" maxlength="20" placeholder="Group Name" autocomplete="off"><br><br>
			<input class="sbutton button-xlarge pure-button" name="submit" type="submit"  value="Make group">
		</form>
		{% endif %}
		{% if loggedin == False %}
		<h1>Login in order to create groups!</h1>
		{% endif %}
	</center>
	{% endblock %}
