{% extends "base.html" %}
{% block text %}
<center>

 
{% if loggedin == True %}
<font face="License Plate" size=25>Edit Information</font><br>
{% if updated == True %}

<script type="text/javascript">
	function success(){
		alert("You have successfully updated your info");
	}
</script>

{% endif %}
<form class="pure-form" method="post">	    
<table>
  <tr>
    <td align="right">First Name:</td>
    <td><input required type="text" name="first" value={{first}} placeholder="First Name"></input></td>
  </tr>
  <tr>
    <td align="right">Last Name:</td>
    <td><input required type="text" name="last" value={{last}} placeholder="Last Name"></input></td>
  </tr>
  <tr>
    <td align="right">Email:</td>
    <td><input required type="email" name="email" value={{email}} placeholder="E-mail Address"></input></td>
  </tr>
  <tr>
    <td align="right">Phone Number:</td>
    <td><input required type="number" pattern=".{10,10}" name="phone" value={{phone}} placeholder="Phone Number"></input></td>
  </tr>
  <tr>
    <td align="right">Facebook Username:</td>
    <td><input type="text" name="facebook" value={{facebook}} placeholder="Facebook URL"></input></td>
  </tr>
</table>
<br>
<input class="sbutton button-xlarge pure-button" name="submit" type="submit"  onclick=success() value="Update">
</form>
{% endif %}


{% if loggedin == False %}
<font face="License Plate" size=25>Login to your account to access your profile! </font>
{% endif %}
</center>
{% endblock %}
