{% extends "base.html" %}

{% block text %}

<style type="text/css">
	::-webkit-input-placeholder {
		text-align: center;
	}

	:-moz-placeholder { 
		text-align: center;  
	}

	::-moz-placeholder { 
		text-align: center;  
	}

	:-ms-input-placeholder {  
		text-align: center; 
	}
</style>

	{% if loggedin == True %}
	<center>
	<font size=5 face="License Plate">You are logged in as {{username}}<br>
	You will be automatically redirected to the home page in 3 seconds.</font>
	</center>
	<meta http-equiv="refresh" content="3;url=/" />
	<br><br>

	{% endif %}
	
	{% if loggedin == False %}
	<center>
	<font class="turq">
	  <font size=20 face="License Plate">Login</font>
	  <form action="login" method="post" class="pure-form">
	    <input required type="text" name="username" placeholder="Username"></input>
	    <br>
	    <input required type="password" name="password" placeholder="Password"></input>
	    <br>
	    <b>{{reason}}</b>
	    <br>
	    <div>
	      <style scoped>
		
		.button-small {
		font-size: 85%;
		}
		br{
			line-height: 25px;
		}
	      </style>
	      <button class="sbutton button-xlarge pure-button" type="submit">Login</button>
	    </div>
	  </form>
	  <font size=5 face="License Plate"><br>Don't have an account? <a href="/register">Register Here!</a></font><br><br><br>
	  
	</font>
	</center>
	{% endif %}    
	
{% endblock %}
      </div>
    </div>
