<div class="logout">
	<a href="/logout">Log out</a>
</div>

<h2> CREATE GROUP </h2>
<form action="" method="POST">
	Group name: <input type="text" name="groupName" required>
	<button type="submit" value="Create">Create</button>
</form>