<h1> Register </h1>
<h3><center><form action="" method="POST">
	Username: <input type="text" name="username" required><br>
	Password: <input type="password" name="password" required><br>
	<input type="submit">
</form><br></h3>
{{#if message}}
	<h2>{{message}}<br></h2>
{{/if}}
<h3>Already have an account? <a href="/login"> Log in here </a></h3>
</center>
